@charset "utf-8";
/* CSS Document */

#kayit{
	width:340px;
	height:auto;
	padding:20px;
	margin-top:100px;
	margin-bottom:100px;
	margin-left:auto;
	margin-right:auto;
	box-shadow:0px 0px 25px 10px rgba(0,0,0,0.3);
}